// RPJ Portfolio Colour  */

$primary-0: rgba(  0,109, 91,1);	// Main Primary color */
$primary-1: rgba( 38,148,129,1);
$primary-2: rgba( 10,132,111,1);
$primary-3: rgba(  0, 87, 72,1);
$primary-4: rgba(  0, 59, 49,1);


$primary-white: rgba(255,255,255,1);
$primary-grey: rgb(249, 249, 249);

$black: #000 !default;

