h1 {
    font-size: calc(1em + 10vw);
    font-weight: 500;
    font-family: 'Cabin Sketch', cursive;
}

h3 {
    font-size: calc(1em + 5vw);
    font-weight: 300;
    text-transform: uppercase;
    font-family: 'Cabin Sketch', cursive;
}

h5 {
    font-size: calc(1em + 1vw);
    text-transform: uppercase;
    font-family: 'Cabin Sketch', cursive;
}

p {
    font-size: 1rem;
    line-height: 2em;

    span {
        font-weight: 700;
        background-color: lightgray;
        color: black;
        padding: 4px;
    }
}

li {
    line-height: 2em;
}